// Colorful Web
@import 'nib'
@import '_BlueSlide'

s_font = 'Patrick Hand SC', cursive;
body
  background white;
  font-family s_font

#main 
  text-align center
  font-family s_font
  font-size 30px
  padding 0
  height @font-size*2
  width 500px

c = color-5

.centered
  text-align center
.container
  border 1px solid c
  border-radius bottom 10px
  box-shadow 0 0 15px darken(c,10%)

  input:focus
    border-color rgba(c, 0.8)
    box-shadow inset 0 1px 1px rgba(c,.075), 0 0 8px rgba(c,.6)


svg
  c_text = color-5
  c_axis = color-6
  c_up   = color-5
  c_bot  = color-2

  .elements_up text
    fill c_text
    text-shadow: 0 5px 3px darken(white,20%);
    dominant-baseline: middle
    text-anchor: middle
  .elements_up rect
    fill rgba(lighten(c_up,70%),0.5)
    stroke c_up
    stroke-width 2
  .elements_bottom rect
    fill rgba(lighten(c_bot,70%),0.5)
    stroke c_bot
    stroke-width 2

  text
    font-family s_font
    font-weight bold

  #BlockArrow
    fill c_axis
  .axis
    fill c_axis
    stroke c_axis
    stroke-width: 5px
    marker-end url(#BlockArrow)
    text
      text-shadow: 0 5px 3px darken(white,20%);
      text-anchor: end
      stroke: none

  
