.span6.offset3.centered
    .row
        h1 type something
          br
          small and press enter
        input.search#main(maxlength=0,type="text",ng-model="keyword")

    .row.centered
        h4 Last keystrokes
        pk-visualize.visualize.last(time-data="lastTimeData", input-toggle="enableInput()")


